/*header {
    border-radius: 10px;
}

.radio__btns {
    display: grid;
    grid-template-columns: repeat(1fr, 7);
    grid-template-rows: 1f 1fr;
}

.radio__vals {
    grid-row: 1;
    margin: auto;
}

.radio__btns input {
    grid-row: 2;
}

input[type=text] {
    border: none;
    width: 2em;
    border-bottom: 1px solid black;
    padding: 0;
    grid-column: 1 / 4;
    margin: auto;
}

input[name="base_one"], input[name="base_two"], input[name="base_three"], input[name="base_four"] {
    width: 2.75em;
}
  

.question__wrapper {
    display: grid;

    justify-content: center;
}

.question {
    display: grid;
    min-width: 480px;
    max-width: 720px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 0.5em;
    padding: 1em;
    border: solid gray 0.5px;
    border-radius: 5px;
}

.question__text {
    grid-row: 1;
    grid-column: 1 / 4;
    font-weight: 600;
    font-size: large;
    margin-bottom: 1em;
}

.scale__text,
.radio__container,
.question__box {
    grid-row: 2;
}

.radio__container-modified {
    grid-row: 2;
    grid-column: 1 / 4;
}

.radio__container-modified input {
    margin-bottom: 0.5em;
}

.question-modified {
    display: flex;
    flex-direction: column;
}

select {
    grid-column: 1;
    grid-row: 2;
}


input[type=submit] {
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    padding: 0.5em;
    background: #fff;
    text-transform: uppercase;
    border: solid gray 2px;
}

input[type=submit]:hover {
    box-shadow: rgba(0, 0, 0, 20%) 1px 1px 1px 1px;
}

textarea {
    border-radius: 5px;
    min-width: 360px;
    min-height: 80px;
}

header p {
    display: inline;
    margin: auto;
    font-size: 16px;
    background: #fff;
    padding: 1em;
    font-weight: bold;
    border-radius: 12px;
}

span sub {
    font-weight: normal;
    margin-left: 12px;
}
*/
header {
  border-radius: 10px;
}

.radio__btns {
  display: grid;
  grid-template-columns: repeat(1fr, 7);
  grid-template-rows: 1f 1fr;
  gap: 1.2em;
}

.radio__vals {
  grid-row: 1;
  margin: auto;
}

.radio__btns input {
  grid-row: 2;
}

input[type="text"] {
  border: none;
  width: 2em;
  border-bottom: 1px solid black;
  padding: 0;
  grid-column: 1 / 4;
  margin: auto;
}

input[name="base_one"],
input[name="base_two"],
input[name="base_three"],
input[name="base_four"] {
  width: 2.75em;
}

.question__wrapper {
  display: grid;

  justify-content: center;
}

.question {
  display: grid;
  min-width: 480px;
  max-width: 720px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin: 0.5em;
  padding: 1em;
  border: solid gray 0.5px;
  border-radius: 5px;
}

.question__text {
  grid-row: 1;
  grid-column: 1 / 4;
  font-weight: 400;
  font-size: large;
  margin-bottom: 1em;
}

.scale__text,
.radio__container,
.question__box {
  grid-row: 2;
}

.scale__text {
  margin-left: 35px;
}

.radio__container-modified {
  grid-row: 2;
  grid-column: 1 / 4;
}

.radio__container-modified input {
  margin-bottom: 0.5em;
}

.question-modified {
  display: flex;
  flex-direction: column;
}

select {
  grid-column: 1;
  grid-row: 2;
}

input[type="submit"] {
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  padding: 0.5em;
  background: #fff;
  text-transform: uppercase;
  border: solid gray 2px;
}

input[type="submit"]:hover {
  box-shadow: rgba(0, 0, 0, 20%) 1px 1px 1px 1px;
}

textarea {
  border-radius: 5px;
  min-width: 360px;
  min-height: 80px;
}

header p {
  display: inline;
  margin: auto;
  font-size: 16px;
  background: #fff;
  padding: 1em;
  font-weight: bold;
  border-radius: 12px;
}

span sub {
  font-weight: normal;
  margin-left: 12px;
}
